<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title>Developer's Guild Payments</title>
</head>
<body>
  <div class="money-log">
      <img class=guild-image src="https://cdn.discordapp.com/attachments/718205418723213382/733202847331647508/TDG.png">
      <br>
      <h1><b>The Developers Guild 
        <br>Payment Portal</b> </h1>
    <a href="https://devguildweb.xyz" class="headers"><b><br>Homepage</b></a>
    <br>
    <br>

    <div class="payment-methods">
      

     <div class="paypal" style="background-color: rgba(0, 0, 0, 0.73);">
      <br>
      <br>
      <p class="headers" style="background-color: rgba(0, 0, 0, 0.73);"><b>Guild Marketplace Accepted Payment Links</b></p>
    <i class="fa fa-paypal fa-4x" aria-hidden="true"></i>

    <p class="headers"><b>Paypal</b></p>
    <p style="font-size: 20px;"><b>Paypal In Progress</b></p>  
    <div>

      <div class="crypto">
    <i class="fa fa-btc fa-4x" aria-hidden="true"></i> <i class="fa fa-ethereum fa-4x" aria-hidden="true"></i>
    <p class="headers"><b>Cryptocurrency</b></p>
    <a href="https://www.coinpayments.net/index.php?cmd=_pos&reset=1&merchant=1360b21d6f0c80bdf49a85d30696f031&item_name=Order+Payment&currency=USD&allow_currency=1&" style="font-size: 20px;"><b>Link to Coinpayments</b></a>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>
</div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>
  <% include partials/footer %>
</body>
</html>
