/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    width:100%;
    font-family: 'PT Mono';
    background-color: #202020;
    color: rgba(255,255,255,2.45);
    text-align: center;
}

.sec1 {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    bottom: 10px;
}
.sec1-h1 {
    font-size: 40px;
}

.colmd {
    top: 30px;
    font-size: 20px;
}

.banner-area {
    position: relative;
    bottom: 5px;
    font-size: 30px;
}

.img-circle {
    
}

#text.item {
    font-size: 17px;
}
.headers {
    font-size: 25px;
}
/**//**/
/*https://i.ytimg.com/vi/aH4mxk-nvUg/maxresdefault.jpg
https://www.maxpixel.net/static/photo/1x/Wormhole-Portal-Light-Science-Blue-Science-Hole-2296580.jpg
*/
.money-log {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.payment_methods {
    display:flex;
    justify-content: center;
}

.footer1{
    background-color: rgba(0, 0, 0, 0.73);
    width:100%;
    position:relative;
    top: 5vh;
}