<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=PT Mono' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src = "hello.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <style>
        body {
            font-family: 'PT Mono';
            background-color: #101010;
            text-align: center; 
            color: rgba(255,255,255,2.45);
        }
    </style>
    </head>
<body>
    <br><img src="https://i.imgur.com/ySXwMcT.png"></br>
<br><p>Dead Ends Aren't Always A Dead Loss</p></br>
    <a href="https://devguildweb.xyz">Return Back</a>
    <br><a href="https://discord.gg/xqUN8KY">Discord</a></br>
</body>
    </html>