<!DOCTYPE html>
<head>
  <% include partials/head %>
  <title>Developers' Guild Community/Discord</title>
<body>
<div class=sec1>
        <img class=guild-image src="https://cdn.discordapp.com/attachments/718205418723213382/733202847331647508/TDG.png">
<br><span class="sec1-h1"><b id=""><strong>The Developers Guild </strong></b></span>
<br>
<br><a href="https://discord.gg/xqUN8KY"><i class="fa fa-discord fa-3x" aria-hidden="true"></i></a><br> <a href="https://discord.gg/xqUN8KY">https://discord.gg/xqUN8KY</a></p></p>
<br><a href="https://blog.devguildweb.xyz/blog"><i class="fa fa-bookmark-o fa-3x" aria-hidden="true"></i></a><br> <a href="https://blog.devguildweb.xyz/blog"> Our Devtips Blog</a></p></p><br>
<br>
<br>
<br>
</div>
</div>
</div>
<br>
<div class=colmd style="text-align: center;">
    <div class="banner-area">
        <br><b><p>Learn: <span class="type"></span></b><p>
    </div>
<p><b><br>The Developers Guild is a community of Software Engineers,
    from hobbyists, to students, to bona fide professionals 
which supports a broad swath of languages, 
    frameworks, and technologies.</br>

    <br><b>Inexperienced engineers can:</b>
    Get live software engineering assistance, from dedicated Q&A threads, to video guided assistance, so that you can get from beginner to expert.</br>
    
  <br> <b>Experienced Users can:</b>
    Learn by teaching, engage in debate over more advanced concepts, find collaborators for your latest project, and build your credibility 
    among the community to find career opportunities via referrals from your fellow experts and demonstrated competency from portfolio projects.</p></br>
</div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() { var typed = new Typed("#banner-area", { stringsElement:'#type', typeSpeed: 950, }); });
    var typed = new Typed('.type', {
    strings: ["Python", "SQL", "JS", ".NET", "Web Design", "Rust", "C/C++", "Java", "Bash", "Powershell", "Devops", "Angular", "React", "Vue"],
    typeSpeed: 100,
    backspeed: 150,
    backDelay: 700,
    shuffle: true,
    loop: true,
    smartBackspace: false // Default value
});
</script>
  
<div class="banner-area">
  <br><span class="type2"></span><br>
</div>

<div class="contact">

    <div class="item">
        <b>
        <img class="img-circle" src="https://media.discordapp.net/attachments/724975874520383519/724981072370204762/sysnomid.png" width="157" height="157">
        <br>
        <p>
        Discord: Sysnomid#0527
        Email: sam@sysnomid.com
        </br>
        <br>
        <img class="img-circle" src="https://cdn.discordapp.com/avatars/244517532906684416/bc2e4e13e2cff3f691e45b8ad4882bb6.png" width="157" height="157">
        <br>
        Discord: lmbaker1234#0903
        Email: Imbaker1234@gmail.com
        </br>
        <br>
        <img class="img-circle" src="https://cdn.discordapp.com/avatars/150374394005422080/f4e4553879adf46c35f2c1e3270ec085.png" width="204" height="204">
        <br>
        Discord: [object Object]#0001
        Email: object@objectobject.ca
        </br>
        <br>
        <img class="img-circle" src="text" width="157" height="157">
        <br>
        Discord: Bluenix#7543
        </br>
        <br>
      </p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() { var typed = new Typed("#banner-area", { stringsElement:'#type2', typeSpeed: 950, }); });

var options = {
  strings: ['Contact Us'],
  typeSpeed: 40
};

var typed = new Typed('.type2', options);

</script>
<% include partials/footer %>
</body>

</html>
