<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class=footer1>
            <footer>
              <hr>
              <br>
            <p style="font-size: 16px">Copyright 2020: The Developers Guild, Under Apache 2.0 License </p>
               <a href="https://github.com/The-Developers-Guild/devguildweb.xyz">
               <p>
                 <div class="colmd" style="font-size: 16px">
                https://github.com/The-Developers-Guild/devguildweb.xyz
                </div>
                </p>
                </a>
                <br>
              </footer>
            </div>            
    </body>
</html>